* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    position: relative;
    font-size: medium;

}

header {
    background-image: url(https://user-images.githubusercontent.com/66039545/157900170-b9a970f3-209b-4f59-8105-94d14caba415.jpg);
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#logo {
    margin-top: 20%;
}

.hero {
    font-size: 50px;
}

h1 {
    font-size: 45px;
}

#mouse-click {
    padding-top: 22px;
    margin-top: 8%;
    padding-bottom: 30px;

}

/* animation-iteration-count: infinite; */

#mouse-click {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-55px);
    }

    60% {
        transform: translateY(-45px);
    }
}

#services {
    background-image: url(https://user-images.githubusercontent.com/66039545/158004254-f1aac60a-78ca-4c83-9679-e49ea445403e.jpg);
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.dark {
    background: url(https://user-images.githubusercontent.com/66039545/158006452-91011613-0a84-451d-94b5-13fd0bfe24f7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 366px;
    height: 300px;
    padding: 30px;

}

.ontario {
    background-image: url(https://user-images.githubusercontent.com/66039545/158006480-4800a5b6-c6ac-4033-b7a7-168e298cd1b3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 366px;
    height: 300px;
    padding: 30px;

}

.gold {
    background-image: url(https://user-images.githubusercontent.com/66039545/158006506-aeae795a-71d8-45b6-a61d-71a4f3f24f82.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 366px;
    height: 300px;
    padding: 30px;
}

.jim {
    background-image: url(https://user-images.githubusercontent.com/66039545/158006535-3dbfc5f8-cd06-4d36-a126-2d764f341ab9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 366px;
    height: 300px;
    padding: 30px;
}

.good {
    background-image: url(https://user-images.githubusercontent.com/66039545/158006848-1988cb73-2378-47bf-b716-95a36c1cd631.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 366px;
    height: 300px;
    padding: 30px;
}

.sound {
    background-image: url(https://user-images.githubusercontent.com/66039545/158006881-7e68ff72-7ed9-417f-92b3-620d4f7a82f6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 366px;
    height: 300px;
    padding: 30px;
}

.burned {
    background-image: url(https://user-images.githubusercontent.com/66039545/158006906-ff54d24e-0040-40ce-9977-9f86b05dc462.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 366px;
    height: 300px;
    padding: 30px;
}

.bailey {
    background-image: url(https://user-images.githubusercontent.com/66039545/158006926-2a9c7268-6532-4f5b-9eaa-da73f11f1704.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 366px;
    height: 300px;
    padding: 30px;
}


#contact {
    background-image: url(https://user-images.githubusercontent.com/66039545/158027908-44997d16-f6bc-4f0e-8475-e056d419f818.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

#design,
#development,
#management {
    display: none;
}

.innerdiv {
    border: 5px solid white;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.innerdiv p {
    font-size: 30px;
}

#msg {
    margin-left: 10%;
    margin-right: 10%;
}

.form-control::placeholder {
    color: white;
}
